<div class="modal fade mentorship-modal request-sent-modal" tabindex="-1" role="dialog" id="service-confirmation-modal">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Offer created</h5>
      </div>
      <div class="modal-body text-center">
        <p>Thank you for posting your offer.</p>
        <p>Our Team will publish your listing after review process.</p>
        <%= link_to 'View Offer', service_path(@service), class: "btn btn-primary request-btn btn-md btn-md-lgr" %>
      </div>
    </div>
  </div>
</div>
