<main class="content">
  <section class="content-container content-with-aside">
    <div class="content-main service-main">
      <div class="panel panel-service">
        <div class="panel-header">
          <h1></h1>
        </div>
        <div class="panel-body">
          
        </div>
      </div>
      <div class="service-experts">
        
      </div>
    </div>
    <div class="content-aside">
      <%= render 'shared/msp/profile_card', profile: @featured_provider %>
    </div>
  </section>
</main>
<% @providers.each do |provider| %>
  <%= link_to "Schedule Session", new_request_path(expert: provider.slug, service: @service.slug), class: 'btn btn-footer' unless provider == current_user.try(:profile) %>
<% end %>

