<nav class="content-nav">
  <%= render "shared/subnavbar", active: "requests" %>
</nav>
<main class="content content-with-nav">
  <section class="mentors-filterable">
    <div class="content-container">
      <div class="content-title">
        <h3>Verify Call Session</h3>
      </div>
      <div class="request-parties">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="request-card requester">
              <div class="card-hero">
                <%= render "shared/profile_photo", photo: current_user&.profile.try(:photo).thumb.url %>
              </div>
              <div class="card-body">
                <h4>John Snow</h4>
                <a href="#">http://localhost:3000/requests/348/verify</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="request-card requested">
              <div class="card-hero">
                <%= render "shared/profile_photo", photo: current_user&.profile.try(:photo).thumb.url %>
              </div>
              <div class="card-body">
                <h4>John Snow</h4>
                <a href="#">http://localhost:3000/requests/348/verify</a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
</main>
