<div class="alert alert-info text-center p-4" role="alert">
  <h4 class="alert-heading">Confirm Your Email</h4>
  <p class="mb-0">In order to get email notifications from Expercoin, you need to confirm your email address</p>
  <p>If you haven't received an email with confirmation instructions please contact <span class="strong">support@expercoin.com</span></p>
</div>
