<div class="alert alert-info text-center p-4" role="alert">
  <h4 class="alert-heading">Create A New Offer</h4>
  <p class="mb-0">Your Offer is the service that you sell on Expercoin. Creating your Offer is an opportunity to show off your talent and provide buyers with all the information they need to help them decide to do business with you.</p>
</div>
