<div class="alert alert-info text-center p-4" role="alert">
  <h4 class="alert-heading">You are almost done</h4>
  <p class="mb-0">There is one last thing we need you to do. In order to receive payments, please add your ETH Address to the wallet.</p>
  <p>Click the button bellow and then add your ETH Address to the wallet.</p>
  <%= link_to 'Go to Wallet', settings_wallet_index_path, class: 'btn btn-primary' %>
</div>
