// Business Banner
//---------------------------------------------

.business-home-header {
  background: image_url('business_home/business_home_banner.jpg') center center / cover no-repeat scroll;
  color: #fff;
  position: relative;
  min-height: 600px;
  padding: 60px 0 160px;

  @media screen and (max-width: 768px) {
    padding: 60px 0 360px;
  }

  h1 {
    font-size: 42px;
    font-weight: 600;

    &.h1-sm {
      font-size: 36px;
    }
  }

  p {
    font-size: 24px;
    font-weight: 200;
  }
}

// Business Intro
//---------------------------------------------

.business-intro {
  padding: 40px 0;

  p {
    font-size: 18px;
  }
}

// Business Offers
//---------------------------------------------

.business-offers {
  padding: 60px 0;

  h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
  }

  .featured-services {
    display: flex;
    flex-wrap: wrap;

    .service-container {
      padding: 0 6px 12px;
      width: 25%;
    }    
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  .card-hero {
    position: relative;
    border-radius: 5px 5px 0 0;

    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
  } 

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 0;

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 15px;
      padding: 0 10px;
    }
  }

  .card-controls {
    position: absolute;
    display: none;
    top: 8px;
    right: 8px;

    a {
      display: inline-block;
      background: #fff;
      border-radius: 2px;
      padding: 2px 5px;
      text-align: center;
      width: 24px;

      &:hover,
      &:focus {
        background-color: #f7f9f6;
      }
    }
  }  

  .service-owner {
    padding: 0 10px 15px;
    font-size: 12px;
    font-weight: 600;

    img {
      border-radius: 50%;
      margin-right: 2px;
      width: 32px;
    }

    .expercoin-service {
      height: 32px;
    }
  }

  .service-title {
    padding: 0;
    flex: 1;
  }

  .service-rating-and-prices {
    color: #333;

    .rating-and-wishlist {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;

      .rating {  
        font-size: 14px;

        i {
          font-size: 12px;
          color: #ff4d4d;
        }
      } 

      .wishlist {
        line-height: 1!important; 
      } 
    }

    .pricing {
      padding: 8px 10px; 
      font-size: 14px;
      
      .value {
        font-weight: 600;
      }  
    }

    .rating-and-wishlist,
    .pricing {
      background-image: linear-gradient(to right, #e3e2df 50%, rgba(#fff, 0) 0%);
      background-position: top;
      background-size: 2px 1px;
      background-repeat: repeat-x;
    }
  }  

  &:hover {
    .card-controls {
      display: block;
    }
  }  
} 

// Business How it Works
//---------------------------------------------

.business-hiw {
  padding: 60px 0 0; 

  .hiw-title {
    h2 {
      color: #00abda;
      text-align: center;
      font-size: 50px;
    }
  }

  .hiw-step {
    padding: 20px 0 0;

    h3 {
      .step-number {
        color: #00abda;
      }
    }

    .step-img {
      max-width: 100%;
    }
  }
}

// Business Categories
//---------------------------------------------

.business-home-categories {
  background: image_url('business_home/business_home_categories.jpg') center bottom / cover no-repeat scroll;
  padding: 80px 0;
  min-height: 800px;

  h3 {
    color: rgba(#fff, 0.8);
  }
}

// Block Links
//---------------------------------------------

.business-home-blocks {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.block-link {
  display: block;
  padding: 2rem;
  height: 100%;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .fa {
    margin-left: .5rem;
    font-weight: 600;
  }

  p {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(59, 60, 61);
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 0.25rem;
  }

  &.block-individual {
    background: #00a664;

    &:hover {
      background: darken(#00a664, 5%);
    }
  }

  &.block-employer {
    background: #1b8e7a;

    &:hover {
      background: darken(#1b8e7a, 5%);
    }
  }

  &.block-expert {
    background: #45b9dc;

    &:hover {
      background: darken(#45b9dc, 5%);
    }
  }
}

// List Categories
//---------------------------------------------

.list-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -2px;

  .category-container {
    display: flex;
    width: percentage(1/6);
    padding: 2px 2px;
  }

  .category {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #79c378;
    color: #fff;
    border-radius: 3px;
    padding: 16px 16px;
    transition: all 0.25s ease-in-out;

    .category-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 100%;
      margin-bottom: 5px;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .category-title {
      font-size: 16px;
      font-weight: 200;
      line-height: 1.25;
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: darken(#79c378, 8%);
      text-decoration: none;
    }
  }
}