// Business Banner
//---------------------------------------------

.business-home-header {
  background: image_url('business_home/business_home_banner.jpg') center center / cover no-repeat scroll;
  color: #fff;
  position: relative;
  min-height: 600px;
  padding: 60px 0 160px;

  h1 {
    font-size: 42px;
    font-weight: 600;
  }

  p {
    font-size: 24px;
    font-weight: 200;
  }
}

// Business Intro
//---------------------------------------------

.business-intro {
  padding: 40px 0;

  p {
    font-size: 18px;
  }
}

// Business How it Works
//---------------------------------------------

.business-hiw {
  padding: 60px 0 0; 

  .hiw-title {
    h2 {
      color: #00abda;
      text-align: center;
      font-size: 50px;
    }
  }

  .hiw-step {
    padding: 20px 0 0;

    h3 {
      .step-number {
        color: #00abda;
      }
    }

    .step-img {
      max-width: 100%;
    }
  }
}

// Business Categories
//---------------------------------------------

.business-home-categories {
  background: image_url('business_home/business_home_categories.jpg') center bottom / cover no-repeat scroll;
  min-height: 800px;

  h3 {
    color: #fff;
  }
}