// Modal Mentorship
//---------------------------------------------

.mentorship-modal{
  .modal-content {

    .modal-header {
      padding: 12px 24px;

      .modal-title {
        font-weight: 600;
      }
    }

    .modal-body {
      padding: 32px 32px 16px;

      .form-group {
        margin-bottom: 10px;
      }
    }

    .modal-footer {
      border-top: none;
      padding: 0 32px 24px;
    }
  } 

  &.modal-wide {
    .modal-content {
      max-width: 520px;
    }
  } 
}