.panel {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 24px;
  border: none;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  .panel-body {
    padding: 16px 16px;
  }        
}

.panel-tabbable {
  padding: 40px 0 20px;

  .nav-tabs {
    padding: 0 30px;

    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 25px;
        border-radius: 0;
        background-color: #fbfbf9;
        border-color: #e3e2df #e3e2df #e3e2df;

        &:hover,
        &:focus {
          background-color: #eeeeee
        }

        &.active {
          background-color: #fff;
          border-color: #e3e2df #e3e2df transparent;
        }
      }

      &:first-child {
        .nav-link {
          border-radius: 4px 0 0 0;
        }
      }

      &:last-child {
        .nav-link {
          border-radius: 0 4px 0 0;
        }
      }
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }
  }

  .tab-content {
    padding: 30px 30px 0;
  }
}

.panel-stats {
  .stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #e3e2df;

    li {
      display: flex;
      flex-direction: column;
      flex: 0 0 percentage(1/3);
      align-items: center;
      justify-content: center;
      max-width: percentage(1/3);
      padding: 20px 8px 10px;

      .value {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.1;
      }

      .legend {
        font-size: 11px;
      }
    }
  }
}