.card-form {
  margin-bottom: 1.5rem;
  background-color: #f8f9f6;

  label {
    font-weight: 600;
    font-size: .875rem;
  }
}

.card-form-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: .75rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  .card-hero {
    position: relative;
    border-radius: 5px 5px 0 0;

    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
  } 

  .card-body {
    padding: 15px 0px 0;

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 15px;
      padding: 0 10px;
    }
  }

  .card-controls {
    position: absolute;
    display: none;
    top: 8px;
    right: 8px;

    a {
      display: inline-block;
      background: #fff;
      border-radius: 2px;
      padding: 2px 5px;
      text-align: center;
      width: 24px;

      &:hover,
      &:focus {
        background-color: #f7f9f6;
      }
    }
  }  

  .service-owner {
    padding: 0 10px 15px;
    font-size: 12px;
    font-weight: 600;

    img {
      border-radius: 50%;
      margin-right: 2px;
      width: 32px;
    }

    .expercoin-service {
      height: 32px;
    }
  }

  .service-rating-and-prices {
    color: #333;

    .rating {
      padding: 10px 10px;  
      font-size: 14px;

      i {
        font-size: 12px;
        color: #ff4d4d;
      }
    }

    .pricing {
      padding: 8px 10px; 
      font-size: 14px;
      
      .value {
        font-weight: 600;
      }  
    }

    .rating,
    .pricing {
      background-image: linear-gradient(to right, #e3e2df 50%, rgba(#fff, 0) 0%);
      background-position: top;
      background-size: 2px 1px;
      background-repeat: repeat-x;
    }
  }  

  &:hover {
    .card-controls {
      display: block;
    }
  }  
}

.mentor-services {
  .service {
    display: flex;
    padding: 20px 0;

    .service-hero {
      padding-right: 16px;

      img {
        width: 120px;
      }
    }

    .service-body {
      flex: 1;

      h4 {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .service-details {
      .service-data {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 8px 0;
          font-size: 14px;

          i {
            font-size: 12px;
            color: #ff4d4d;
          }
        }

        li + li {
          border-top: 1px dotted #e3e2df;
        }
      }
    }
  }

  .service + .service {
    border-top: 1px solid #e3e2df;
  }
}
