<main class="content">
  <section class="mentors-filterable">
    <div class="content-container">
      <div class="">
        <div class="">
          <% @subgroups.each do |subgroup| %>
            <%= subgroup.title %>
          <% end %>
        </div>
        <div class="">
          <div class="filter-group">

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

