<main class="content">
  <header class="service-title">
    <div class="content-container">
      <h1><%= @group.title %></h1>
      <p><%= @group.subtitle %></p>
    </div>  
  </header>
  <section class="groups-filterable">
    <div class="content-container">
      <div class="groups">
        <% @subgroups.each do |subgroup| %>
          <%= render 'shared/msp/group_card', group: subgroup, group_url: group_subgroup_path(@group, subgroup) %>
        <% end %>
      </div>
    </div>
  </section>
</main>

