<div class='panel'>
  <div class='panel-header'>
    <h5>How it works?</h5>
  </div>
  <div class='panel-body panel-body-paddingless'>
    <div id="accordion" class="hiw-accordian">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              1. Seek and Connect
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">Send your request to a particular expert by browsing for the expertise or skillset you are looking for; or broadcast your request to our community of experts. Our matching algorithm will match you with the experts interested. All experts on our platform are pre-vetted. If you already have a preferred mentor, you can schedule your next session(s) with him/her. At this time, you will be pre-charged for the estimated length of the call, based on the expert’s per-minute rate.
          
          Enterprises can also buy a pack of one-on-one or group sessions for their employers. Please write to us for customized solution.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2. Collaborate
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">Mentor collaborate with you in real time using tools such as screen sharing and video chat to get the most of your mentoring session. Whether it is technology review or code debugging, an expert is available to help you find the best way forward.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              3. Review
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">At the conclusion of your session, you have the opportunity to rate your mentor across multiple dimensions such as subject matter expertise, professionalism, adherence to deadlines and cost. This cumulative rating determines the award of future engagemnets to the mentor and serves as an important motivator to do well and serve the needs of the mentees. Our platform holds every mentor accountable through this rating mechanism and other checks and balances.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              4. Manage & Measure
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">If you are a HR manager or a line manager, you can see how frequently your employees are using the mentorship platform and what kind of topics are hot within your group or company.
          
            You can buy mentorship credits in bulk and give access to your team, while setting spending limits at individual level and group level.
          
          We provide rich reports with usage patterns and analysis for your review.</div>
        </div>
      </div>
    </div>
  </div>
</div>
