<% user.notifications.unread.each do |notification| %>
  <a class="notification">
    <div class="notification-header">
      <%= notification.title %>
      <span class="notification-date"><%= decorate(notification).format_date %></span>
    </div>
    <div class="notification-body">
      <%= notification.content %>
    </div>  
  </a>
<% end %>