<nav class="content-nav">
  <div class="content-nav-container">
    <ul class="content-nav-list">
      <li>
        <%= link_to 'Send', payments_path  %>
      </li>
      <li>
        <%= link_to 'Received', received_payments_path %>
      </li>
    </ul>  
  </div>
</nav>
