<div class="content-nav-container">
  <ul class="content-nav-list">
    <li>
      <%= link_to 'Find Mentors', profiles_path, class: "#{'active' if active == 'mentors'}"  %>
    </li>
    <li>
      <%= link_to 'My Mentors', my_mentors_path, class: "#{'active' if active == 'my mentors'}"  %>
    </li>
    <li>
      <%= link_to 'My Requests', requests_path, class: "#{'active' if active == 'requests'}"  %>
    </li>
    <li>
      <%= link_to 'Payments', payments_path, class: "#{'active' if active == 'payments'}"  %>
    </li>
  </ul>
</div>
