<section class="content-section trusted">
  <div class="container">
    <h3 class="content-section-title">Trusted By</h3>
    <div class="brands">
      <%= image_tag 'trusted.png' %>
    </div>
  </div>
</section>