<div class="modal fade mentorship-modal request-sent-modal" tabindex="-1" role="dialog" id="request-sent-modal">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Request Sent</h4>
      </div>
      <div class="modal-body text-center">
        <p class="main-paragraph">Your Request Has Been Sent to <%= @request.expert.full_name %></p>
        <p>Once your pending request is confirmed - you will receive a calendar invite with all the details (time, number, etc) via email.</p>
        <%= link_to 'View Request', corporate_mentorship_request_path(@request), class: "btn btn-primary request-btn" %>
      </div>
    </div>
  </div>
</div>