<!-- <div class='webcam-wrapper'>
  <div id='remote-media-div' data-token='<%= @token %>'>
  </div>
  <div id='local-media-ctr'>
  </div>
</div> -->
<%= form_tag conference_index_path do %>
  <%= submit_tag "Request Room" %>
<% end %>


<!-- <button id='enter-room'>Enter Room</button>
<button id='leave-room'>Leave Room</button>
<button id='stop-camera-preview'>Stop Camera Preview</button>
<button id='start-camera-preview'>Start Camera Preview</button> -->
