$('.session-call-time').replaceWith("<div class='session-call-time' data-time-start='<%= @request.started_at %>'><span data-timer='minutes'>0</span>:<span data-timer='seconds'>00</span></div>");
timerInitialize();
