Expercoin Homepage

<div id='root'>
{{message}}
  <app></app>
  <hello></hello>
  <split></split>
  <button @click='show'>Show Modal</button>
  <modal name="hello-world">
    <button @click='hide'>Hide Modal</button>
    <button @click='submit'>Submit Modal</button>
    <input v-model="selected">
  </modal>

  <v-select v-model="selected" :options="['foo','bar']"></v-select>

  <%= text_field_tag "s", {}, "v-model": "selected" %>
</div>
