<main class="content">
  <header class="service-title">
    <div class="content-container">
      <h1><%= @group.title %></h1>
      <p><%= @group.subtitle %></p>
    </div>  
  </header>
  <section class="services-filterable">
    <div class="content-container">
      <div class="services">

      </div>
    </div>
  </section>
</main>

