<main class="content">
  <header class="service-title">
    <div class="content-container">
      <h1><%= @group.title %></h1>
      <p><%= @group.subtitle %></p>
    </div>  
  </header>
  <section class="services-filterable">
    <div class="content-container">
      <div class="services">
        <% @services.each do |service| %>
          <%= render 'shared/msp/services_card', service: service, service_url: service_path(service) %>
        <% end %>
      </div>
    </div>
  </section>
</main>

