$('.assets-container').append(
  '<div class="d-block" id="asset-<%= @asset.id %>">'
  + '<span class="badge badge-light"><%= j(@asset.name) %></span> '
  + '<%= link_to '', asset_path(@asset), { data: { remote: true, method: :delete}, class: "fa fa-times" } %>'
  + '</div>'
);
