// Section 
//---------------------------------------------

.content-section {
  padding: 40px 0 80px;

  .content-section-title {
    text-align: center;
  }

  &.section-alternate {
    background-color: #f7f9f6;
  }
}

// Files
//---------------------------------------------

@import 'content/mentors_home';

