// Section 
//---------------------------------------------

.content-section {
  padding: 40px 0 60px;

  .content-section-title {
    text-align: center;
  }

  &.section-alternate {
    background-color: #f7f9f6;
  }
}

// Trusted
//---------------------------------------------

.trusted {
  padding: 40px 0;

  .brands {
    align-items: center;
    margin-top: 24px;

    img {
      max-width: 100%;
    }
  }
}

// Files
//---------------------------------------------

@import 'content/mentors_home';
@import 'content/business_home';
@import 'content/devise_pages';

