// HTML
//---------------------------------------------

html,
body {
  height: 100%;
}

// Body
//---------------------------------------------

body {
  position: relative;
  font-size: 16px;
  font-family: 'Proxima Nova', 'Open Sans', sans-serif;
  line-height: 1.25;
  color: #555;
}

// Page
//---------------------------------------------

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding-top: 52px;

  .page-content {
    flex: 1;
    position: relative;
  }
}

// Page banner
//---------------------------------------------

.page-banner {
  display: flex;
  align-items: center; 
  position: relative; 

  .banner-content {
    position: relative;
    z-index: 2;
  }

  h1,
  p {
    font-family: 'Circular';
  }
}


.show {
  display: block!important;
}

[data-notice="success"] {
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: none;
  text-align: center;
  background-color: #86c77a;
  color: white;
}

[data-notice="error"] {
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: none;
  text-align: center;
  background-color: red;
  color: white;  
}

.hidden {
  display: none;
}

// Turbolinks Progress Bar
//--------------------------------------------- 

.turbolinks-progress-bar {
  height: 3px;
  background-color: #00bceb;
}