// Navbar
//---------------------------------------------

.navbar {
  background-color: #000; 
  padding: 0 16px;

  .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    font-weight: 600;

    img {
      max-height: 36px;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: 16px 16px;
      cursor: pointer;
      color: #318fd2;

      &:hover,
      &:focus {
        color: darken(#318fd2, 5%);
      }
    }
  }
}