// Headings
//---------------------------------------------

h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #444;
}

h3 {
  &.h3-lg {
    font-size: 36px;
  }
}

h6 {
  font-size: 18px;
}

// Paragraph
//---------------------------------------------

p {
  &.p-light {
    color: #777;
  }

  &.p-sm {
    font-size: 14px;
  }
}

// Text tags
//---------------------------------------------

.uc {
  text-transform: uppercase;
}

.ac {
  text-align: center;
}