<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="panel panel-get-started">
        <div class="panel-header">
          <h1>Hi <%= "#{current_user.profile.first_name}!" %> We'd like to welcome you to Expercoin.</h1>
          <p>Since you are new, there are three ways to get started. Choose the role that describes you the best.</p>
          <a class="close-panel">&times</a>
        </div>
        <div class="panel-body">
          <div class="body-block">
            <h3>As a Mentee (Buyer)</h3>
          </div>
          <div class="body-block">
            <h3>As a Mentor (Seller)</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>